<!-- Fetch Header -->
<%- include('partials/header') %>

<!-- Main Content -->
<div class="main-content">
  <div class="container form-container">
    <h2>Welcome to BookFinder!</h2>
  </div>
</div>

<!-- Fetch Footer -->
<%- include('partials/footer') %>
