<!-- Fetch Header -->
<%- include('partials/header') %>

<!-- Main Content -->
<div class="main-content">
  <div class="container top-con">
    <h1>Welcome to BookFinder!</h1>
    <div class="row">
      <div class="col-12 col-md-8">
        <p style="justify-content: center">
          Here is a safe space for you to add books to our existing BookFinder
          library database and explore our existing library for books you like
          and want to learn more about.
          <br />
          You can add new books to our library using the form below, which
          accepts details like title of book, name of author, publishing date
          and also an optional field for entering a color according to the mood
          of the book.
          <br />
          On navigating to the Booklist page, you can see the list of books on
          our library and search for books.
        </p>
      </div>
      <div class="col-12 col-md-4">
        <img src="img/index.png" width="310" />
      </div>
    </div>
  </div>
  <!-- 'Add Book' functionality-->
  <div class="container form-container">
    <h2>Add a New Book</h2>
    <form action="index" method="POST">
      <div class="form-group">
        <label>Title of Book</label>
        <input
          type="text"
          class="form-control"
          id="titleid"
          aria-describedby="title"
          name="title"
          placeholder="Call Me By Your Name"
          required
        />
      </div>

      <div class="form-group">
        <label>Author of Book</label>
        <input
          type="text"
          class="form-control"
          id="authorid"
          name="author"
          placeholder="Andre Aciman"
          required
        />
      </div>

      <div class="row">
        <div class="col-12 col-md-6">
          <div class="form-group">
            <label>Published Date (yyyy-mm-dd)</label>
            <div class="input-group date" id="datetimepicker1">
              <input
                type="text"
                class="form-control input-lg"
                id="dateid"
                name="date"
                placeholder="2021-11-09"
                required
              />
              <span class="input-group-addon" style="margin-left: 2%"
                ><span class="glyphicon glyphicon-calendar"
                  ><i
                    class="fa fa-calendar-plus-o fa-2x"
                    aria-hidden="true"
                  ></i></span
              ></span>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6">
          <div class="form-group">
            <label class="form-label">Mood of the Book (in color)</label>
            <input
              type="color"
              class="form-control form-control-color"
              id="color"
              value="#92EDA9"
              title="Choose a color"
              name="color"
            />
          </div>
        </div>
      </div>

      <button type="submit" class="btn btn-primary index_btn">Add Book</button>
    </form>
  </div>
</div>

<!-- Fetch Footer -->
<%- include('partials/footer') %>
